@import "tailwindcss";

:root {
  /* https://fonts.google.com/selection/embed */
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: white !important;
  color: black !important;
  box-sizing: border-box;
}

input[type="checkbox"] {
  accent-color: black;
}

input {
  border-color: #9CA3AF;
}
input:focus {
  border-color: black;
  outline: none;
}
/* 以下針對mac版safari重設 */
.placeholder-text-gray-700::placeholder {
  color: #374151;
}
.hover-bg-gray-200:hover {
  background: #E5E7EB;
}
.hover-text-red-500:hover {
  color: rgb(239, 68, 68);
}
.shadow-lg {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.border-gray-300 {
  border-color: #D1D5DB;
}
.border-gray-400 {
  border-color: #9CA3AF;
}

.text-gray-300 {
  color: #D1D5DB;
}
.text-gray-500 {
  color: #6B7280;
}
.text-gray-600 {
  color: #4B5563;
}
.text-gray-700 {
  color: #374151;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* display: flex;
  place-items: center; */
  /* min-width: 100%; */
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
/* button:hover {
  border-color: #646cff;
} */
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

img {
  user-select: none;   /* 禁止選擇圖片 */
  -webkit-user-drag: none;  /* 禁止拖動圖片（適用於 Safari） */
  pointer-events: none;  /* 禁止圖片點擊事件 */
  touch-action: none; /* 禁止觸摸操作 */
}

/* Special mask for loading overlay & dialog background */
.spacialMask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(31, 41, 55, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spacialMask-inner {
  position: relative;
  z-index: 10000;
}

.spacialLi {
  background-color: #f9fafb;
  transition: background-color 0.2s ease;
}

.spacialLi + .spacialLi {
  margin-top: 8px;
}

.fullHeart {
  color: #FF6367;
  fill: #FF6367;
}

.emptyHeart {
  color: #697282;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@media (max-width: 765px) {
  .border-solid {
    --tw-border-style: solid;
  }
}